.video-item {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  position: relative;

  .stale-layer {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .stale-layer-play-icon {
    color: #fff;
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  &:hover {
    .stale-layer {
      display: none;
    }
  }
}
