.video-list {
  margin-bottom: 50px;
  max-width: 1000px;
  padding: 30px 105px;
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(226px, 226px));

  @media (max-width: 1200px) {
    max-width: none;
  }
}
