html {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}
