.button {
  font-size: 16px;
  color: #1F1E1E;
  border: 1px solid #1F1E1E;
  border-radius: 4px;
  background: transparent;
  min-width: 140px;
  min-height: 40px;
  cursor: pointer;

  &.loading {
    color: transparent !important;
    pointer-events: none;
    position: relative;

    &:after {
      -webkit-animation: spinAround .5s infinite linear;
      animation: spinAround .5s infinite linear;
      border: 2px solid #000000;
      border-radius: 50%;
      content: "";
      display: block;
      height: 1em;
      width: 1em;
      position: absolute;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      border-color: transparent transparent #000000 #000000 !important;
    }
  }
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
