.left-sidebar {
  position: relative;

  @media (max-width: 800px) {
    display: none;
  }

  .sidebar-wrapper {
    background: #282828;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
  }

  .title {
    margin: 15px 0 11px 21px;
  }

  .left-sidebar-link {
    color: inherit;
    display: block;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 22px;

    &.active {
      background: #09bba6;
    }
  }
}
